/**
 * Any custom CSS goes here so its available in the final Application
 */

/**
 * Sticky footer
 */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

/* Image on top */
.bookitem {
    position: relative;
    top: 10px;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

/* First header */
.top {
    line-height: 3em;
    text-align: left;
    color: #ff0066;
    font-family: 'Alex Brush Regular', cursive, !important;
    font-size: 26px !important;
    vertical-align: baseline;
}

/* Navigation bar */
.headindex {
    vertical-align: text-top;
    position: relative;
    bottom: 20px;
    text-align: left;
}

/* Header for the table or list of books */
.fancyheader {
    background-color:  #ffffb3 !important;
    font-family:  Comfortaa, sans-serif !important;
    color: #009900 !important;
    margin-left: 20px !important;
    vertical-align: middle !important;
    bottom: 20px !important;
    top: 20px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
} 
@font-face {
    font-family: 'Alex Brush Regular';
    src: url('fonts/AlexBrush.ttf');
}